* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "ButlerStencil";
  src: local("ButlerStencil"),
    url("./assets/fonts/ButlerStencil-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/ButlerStencil-ExtraBold.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

body {
  font-family: "ButlerStencil";
  position: relative;
  background-color: #242930;
  color: #c3cfe2;
  scroll-behavior: smooth;
}

.bgSvg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.background-gradient {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: radial-gradient(
    circle farthest-side at 100% 100%,
    rgba(56, 132, 255, 0.61),
    rgba(31, 35, 41, 0) 59%,
    rgba(31, 35, 41, 0)
  );
}
