* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ButlerStencil";
  src: local("ButlerStencil"),
    url("./assets/fonts/ButlerStencil-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/ButlerStencil-ExtraBold.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

body {
  font-family: "ButlerStencil";
  position: relative;
}

.container {
  display: grid;
}

.box {
  height: 50vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
}

.photo {
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: violet;
}

.box:hover .overlay {
  cursor: pointer;
  opacity: 0.97;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box-1 {
  background-image: linear-gradient(45deg, #b721ff 0%, #21d4fd 100%);
}

.box-2 {
  background-color: violet;
}

.box-3 {
  background-color: yellowgreen;
}

.box-4 {
  background-color: lightcoral;
}

.box-5 {
  background-color: lightskyblue;
}

.box-6 {
  background-color: lightgrey;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}
.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #000);
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
}
.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}
.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}
@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}
